<div class="container">
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Title</th>
        <th>Developer</th>
        <th>Platforms</th>
      </tr>
    </thead>
    <tbody>
      <% @video_games.each do |game| %>
        <tr>
          <td><a href="/games/<%=game.slug%>/details"><%= game.title %></a></td>
          <td><%= game.developer.name %></td>
          <td><%= game.platforms.map(&:name).join(',')%></td>
        </tr>
      <% end %>
</div>
