<div class="container-fluid">
  <div class="col-md-4 col-md-offset-4">
  <%= semantic_form_for @video_game, :url => '/games/' do |f| %>
    <%= f.inputs do %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :players %>
      <%= f.input :developer, :as => :select, :collection => Developer.all%>
      <%= f.input :platforms, :as => :check_boxes %>
    <% end %>
    <%= f.actions do %>
      <%= f.action :submit, :as => :button %>
      <%= f.action :cancel, :as => :link %>
    <% end %>
  <% end %>
  </div>
</div>
