<div class="container">
  <div class="col-md-6">
    <h4>Recently Added Games</h4>
    <ul>
      <% @recent_game_adds.each do |game| %>
        <li><a href="/games/<%=game.slug%>/details"><%=game.title%></a></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <h4>Recently Added Platforms</h4>
    <ul>
      <% @recent_platform_adds.each do |platform| %>
        <li><a href="/platform/<%=platform.slug%>/details"><%=platform.name%></a></li>
      <% end %>
    </ul>
  </div>
</div>
